.events {
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0px;
  font-family: "Book Antiqua";
}

.slider {
  margin: 25px 0px 40px 0px;
  .slick-dots {
    bottom: 20px;
    li {
      button {
        background-color: #d8d8d8;
        border: none;
        height: 10px;
        width: 10px;
        &:before {
          display: none;
        }
        &.slick-active {
          background-color: #1e90ff;
        }
      }
    }
  }
  .slide {
    margin: 0px 15px;
    position: relative;
    img {
      width: 100%;
      height: 250px;
      border-radius: 15px;
    }
    .details {
      height: 70px;
      border-radius: 0px 0px 15px 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      .date {
        margin-bottom: 5px;
        font-size: 11px;
      }
      .title {
        font-size: 17px;
      }
    }
    &.active {
      .details {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
  @media (max-width: 768px) {
    .slick-slide {
      width: calc(100vw - 40px);
      margin: 0 20px;
    }
    .slide {
      .details {
        font-size: 8px;
        padding: 5px;
      }
    }
  }
}